@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Baloo+Da+2&family=Caveat:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@300;400;600&family=Public+Sans:wght@100&family=Quicksand:wght@600&display=swap');

:root{
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border: none;
}

p{
  font-family: "Rubik";
}